body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #1e1e1e, #333);
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
}

.game-container {
    display: flex;
    justify-content: space-between; /* separa columnas */
    align-items: flex-start;
    width: 70%;          /* controla el ancho total */
    margin: 50px auto;   /* centra horizontalmente */
}

/* COLUMNA IZQUIERDA (opciones) */
.items {
    display: flex;
    flex-direction: column;
    gap: 35px; /* espacio vertical entre opciones */
}

/* COLUMNA DERECHA (respuestas) */
.dropzones {
    display: flex;
    flex-direction: column;
    gap: 35px; /* espacio vertical entre cajas */
}

.drag-item {
    font-size: 55px;
    cursor: grab;
    transition: transform 0.2s ease;
}

.drag-item:active {
    transform: scale(1.2);
}

.dropzone {
    width: 220px;
    height: 85px;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.3s ease;
    font-size: 18px;
}

.dropzone.hovered {
    background: #00ff99;
    color: black;
}

.correct {
    background: #4CAF50;
    border: none;
}

#message {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
